html{
	font-size: 62.5%;
}

main {
	width: 100%;
}

body{
	background-color: #fff8f0;
	background-attachment: fixed;
	width: 100%;
}

h1{
	font-size: 20px;
	@include FontH;
}

h2,h3{
	@include FontH;
}


p{
	color:#817E7E;
	line-height: 2rem;
	font-size: 1.6rem;
}




footer {
			background-color: #42230d;
			color: #e5dbd1;
			
}